[submodule "Source/Source/TiledCS"]
	path = Source/Source/TiledCS
	url = https://github.com/iUltimateLP/TiledCS.git
[submodule "Source/TiledCS"]
	path = Source/TiledCS
	url = https://github.com/iUltimateLP/TiledCS.git
